* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}

/* -----------HEADER---------- */

header {
  min-height: 100px;
}

.logo {
  font-weight: 700;
  color: rgb(90, 90, 234);
  letter-spacing: -3px;
  text-decoration-line: overline;
  padding-top: 10px;
  padding-left: 10px;
}

.local-only {
  color: rgb(90, 90, 234);
  padding-left: 10px;
  font-size: 13px;
}

/* -------------MAIN------------- */

main {
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 400px;
}

.weather-container {
  align-items: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 500px;
}

.bergen {
  color: rgb(30, 29, 29);
  justify-content: start;
  padding-top: 100px;
  text-align: center;
}

p {
  color: rgb(30, 29, 29);
}

#refreshButton {
  height: 40px;
  display: inline-block;
  background-color: #007BFF; 
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#refreshButton:hover {
  background-color: #0056b3; 
}

#weatherInfo {
  color: rgb(90, 90, 234);
}

main {
  background-image: url('images/bryggen.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 600px; 
  padding: 20px;
}

.image {
  background-size: cover;
}