* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url('images/bergen.jpg');
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  background-attachment: fixed;
}

/* -----------HEADER---------- */

header {
  min-height: 100px;
}

.logo {
  font-weight: 700;
  color: rgb(7, 7, 7);
  letter-spacing: -3px;
  text-decoration-line: overline;
  padding-top: 10px;
  padding-left: 10px;
}

.local-only {
  color: rgb(7, 7, 7);
  padding-left: 10px;
  font-size: 13px;
}

/* -------------MAIN------------- */

main {
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 400px;
}

.weather-container {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent dark background for contrast */
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  max-width: 500px;
  margin: auto;
}


.bergen {
  color: rgb(255, 255, 255);
  justify-content: start;
  padding-top: 100px;
  text-align: center;
}

p {
  color: rgb(255, 255, 255);
}
p {
  margin-bottom: 10px; /* Add space between paragraphs */
}

#refreshButton {
  height: 40px;
  display: inline-block;
  background-color: #007BFF; 
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#refreshButton:hover {
  background-color: #0056b3; 
}

#weatherInfo {
  color: rgb(249, 249, 252);
}

main {
   
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 600px; 
  padding: 20px;
}

.image {
  background-size: cover;
}

.checkbox-container {
  background-color: rgba(0, 0, 0, 0.3); /* dark overlay */
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  display: inline-block;
  margin-top: 20px;
  height: 200px;
}

.checkbox-container label {
  height: 2px;
  display: block; /* Ensures each label is on its own line */
  margin-bottom: 5px; /* Adds some space between the checkboxes */
}

.choose-condition {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}